*.o
*.exe
*.bin
*.stackdump
*.gch

Makefile
Makefile.in

stamp-h1
config.h
config.log
config.status

arm_simulator
memory_test
registers_test
send_irq

Examples/example[0-9]
autom4te.cache
.deps
.vscode
