.vscode
*.o
*.exe
*.bin
.deps

Makefile
Makefile.in

stamp-h1
config.h
config.log
config.status

arm_simulator
memory_test
registers_test
send_irq

Examples/example[0-9]
Examples/test_adc
Examples/test_orr_bic
autom4te.cache

*.stackdump
*.gch
